h1 {
    color:blue;
    font-size: 70px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px;
}

section {

    line-height:1px;

}

img {

    width: 100%;

}

main h2 {

    text-align:center;

}


